* {
    padding: 0;
    /* margin: 0; */
}

body{
    background-color: rgb(242, 242, 243);
    width: 100%;
}

.container-primary {
    width: 500px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
    padding: 20px;
}

.minh-100 {
    height: 100vh;
}